/* === Global Style === */
body {
  font-family: 'Poppins', sans-serif;
  background: #1555af; /* dark navy background */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* === Card Container === */
.todo-container {
  background: #7382f8;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(71, 71, 81, 0.5);
  width: 600px;
}

/* === Title === */
.todo-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
}

/* === Input Row === */
.input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.input-row input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #1b1d20;
  background: #f6f8ff;
  color: #010101;
  font-size: 14px;
}

.input-row input:focus {
  border-color: #1719a2; /* highlight ungu */
  outline: none;
}

/* === Add Button === */
.add-btn {
  background: #0004f4;
  border: none;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  transition: background 0.3s;
}

.add-btn:hover {
  background: #060514;
}

/* === Action Buttons === */
.filter-btn, .delete-btn {
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: background 0.3s;
}

.filter-btn {
  background: #050910;
  color: #e2e8f0;
  
}

.filter-btn:hover {
  background: #1308e2;
}

.delete-btn {
  background: #0f13fb;
  color: #fff;
  margin-left: 340px;
}

.delete-btn:hover {
  background: #020119;
}

/* === Table === */
.table-container {
  margin-top: 20px;
  background: #0f172a;
  border-radius: 10px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 14px 20px;
  text-align: center;
}

th {
  color: #b2c1f1;
  text-transform: uppercase;
  font-size: 13px;
}

td {
  color: #ddebff;
}

.no-task {
  padding: 20px;
  text-align: center;
  color: #eaf1fa;
  background-color: #181c38;
}
